//color
$border--color: #000000;
$text--black: #424242;
$text--grey: #767b91;
$text--white: #f3f3f3;
$text--highlight: #fe725d;
$background--color: #ffffff;
$backgroundAlt--color: #04a7ab; 
$backgroundAlt2--color: #0e111f;

//padding
$section--top: 86px;
