@import "../stylesheets/Variables.scss";

.nav {
  height: 9vh;
  // padding-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 26px;
  font-family: Tahoma;
  background-color: $backgroundAlt--color;
  .nav__logoImage {
    position: absolute;
    height: 4.26rem;
    width: auto;
    margin-bottom: 20px;
    object-fit: contain;
    top: 0px;
    left: 20px;
    cursor: pointer;
    background-color: inherit;
  }
  .nav__companyText {
    position: absolute;
    top: 23px;
    left: 110px;
    padding: 5px 3px;
    margin-bottom: 20px;
    font-family: Franklin Gothic Medium;
    font-size: 1.6rem;
    background-color: inherit;
    color: $text--white;
    cursor: pointer;
  }
  text {
    @extend .navText--style;
  }
  text:hover {
    transition-duration: 200ms;
    border-bottom: 5px solid $text--white;
  }
  .nav__logInText {
    border: 1.5px solid $border--color;
    color: $backgroundAlt--color;
    background-color: $text--white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 20px;
  }
  .nav__logInText:hover {
    transition-duration: 100ms;
    border-color: $background--color;
    background-color: $backgroundAlt--color;
    color: $background--color;
  }
  .nav__toolsDropdown {
    @extend .navText--style;
    margin-right: 30px;
    display: flex; // slaps both at the top, text too
    justify-content: center;
    .nav__downArrow {
      background-color: inherit;
    }
  }
}

// for @extend

.navText--style {
  margin-right: 15px;
  font-size: 1.09rem;
  margin-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  color: $text--white;
  background-color: inherit;
  cursor: pointer;
  border-bottom: 2px solid $backgroundAlt--color;
}
