@import "../stylesheets/Variables.scss";

.home {
  height: 100%;
  width: 100%;
  background-color: $background--color;
  //   padding-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  .home__TextContainer {
    height: auto;
    width: 43vw;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 4vw;
    .home__TitleText {
      font-size: 36px;
      font-family: Tahoma;
      color: $border--color;
    }
    .home__DescriptionText {
      width: 40vw;
      padding-top: 20px;
      font-size: 16px;
      font-family: Arial;
      color: $text--grey;
    }
  }
  .home__MainImage {
    height: 40vh;
    width: 40vw;
    object-fit: contain;
  }
}
