@import "../stylesheets/Variables.scss";

.home {
  height: 80%;
  width: 100%;
  background-color: $background--color;
  //   padding-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  .home__TextContainer {
    height: auto;
    width: 43vw;
    display: flex;
    flex-direction:column;
    margin-top: 10vh;
    margin-left: 4vw;
    .home__TitleText {
      font-size: 36px;
      font-family: Tahoma;
      color: $border--color;
    }
    .home__DescriptionText {
      width: 40vw;
      padding-top: 20px;
      font-size: 16px;
      font-family: Arial;
      color: $text--grey;
    }
  }
  .home__MainImage {
    height: 50vh;
    width: 40vh;
    object-fit: contain;
  }
 
}
.howItWorks{
  .h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the individual image wrapper */
.image-wrapper {
  text-align: center; /* Center-align text */
  margin: 10px 10px 10px 10px;
}

/* Style for the images */
.image-wrapper img {
  display: block;
  width: 100px; /* Adjust image width */
  height: 100px; /* Adjust image height */
  object-fit: cover; /* Maintain aspect ratio and cover container */
  border: 2px solid $text--grey; /* Add border around the images */
  border-radius: 50%; /* Make the images circular */
  overflow: hidden; /* Hide overflow content */
}

/* Style for the arrowed line */
.arrow-line {
  position: relative;
  width: 20vw; /* Adjust the length of the line */
  height: 2px; /* Adjust the thickness of the line */
  background-color: transparent;
  border-top: 2px dotted $backgroundAlt2--color; /* Adjust dotted line style */
  margin: 0 5px; /* Adjust spacing between images and line */
}

/* Styling the arrowhead */
.arrow-line::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -8px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent; /* Adjust arrowhead size */
  border-bottom: 5px solid transparent; /* Adjust arrowhead size */
  border-left: 8px solid $text--highlight; /* Adjust arrowhead color */
}
.imageText{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
}